@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

/* --------- CLOTHING SECTION STARTS --------- */
.cloth .cloth-title {
  margin: 50px 0 0 50px;
  color: rgb(27, 25, 25);
}

.cloth .cloth-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4%;
}

.cloth .cloth-container .card {
  width: 15%;
  min-width: 200px;
  height: auto;
  margin: 30px 10px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
}

.cloth .cloth-container .card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.cloth .cloth-container .card .img img {
  width: 100%;
}

.cloth .cloth-container .card .details {
  padding-left: 10px;
  margin: 10px auto;
}

.cloth .cloth-container .card .details h3 {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgb(27, 25, 25);
  margin-right: 10px;
}

.cloth .cloth-container .card .details h4 {
  margin-top: 10px;
  text-align: left;
  font-size: 12px;
  color: rgb(110, 110, 110);
}

.cloth .cloth-container .card .details h5 {
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
  letter-spacing: 2px;
  color: #009688;
}

/* --------- CLOTHING SECTION ENDS --------- */

/* --------- ACCESSORIES SECTION STARTS --------- */
.accessory .accessory-title {
  margin: 50px 0 0 50px;
  color: rgb(27, 25, 25);
}

.accessory .accessory-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4%;
}

.accessory .accessory-container .card {
  width: 15%;
  min-width: 200px;
  height: auto;
  margin: 30px 10px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
}

.accessory .accessory-container .card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.accessory .accessory-container .card .img img {
  width: 100%;
}

.accessory .accessory-container .card .details {
  padding-left: 10px;
  margin: 10px auto;
}

.accessory .accessory-container .card .details h3 {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgb(27, 25, 25);
  margin-right: 10px;
}

.accessory .accessory-container .card .details h4 {
  margin-top: 10px;
  text-align: left;
  font-size: 12px;
  color: rgb(110, 110, 110);
}

.accessory .accessory-container .card .details h5 {
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
  letter-spacing: 2px;
  color: #009688;
}

/* --------- ACCESSORIES SECTION ENDS --------- */

/* --------- FOOTER SECTION STARTS --------- */
footer {
  background-color: #000000;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 30px 0 30px 0;
}

footer h3 {
  color: #dcdcdc;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

footer ul li {
  text-decoration: none;
  color: #b8b8b8;
  font-size: 12px;
  cursor: pointer;
}

footer ul li:hover {
  color: #009688;
}

/* --------- FOOTER SECTION ENDS --------- */
